.inner {
  display: flex;
  gap: 50px;
  @include r($desktop) {
    gap: 35px;
  }
  @media (max-width: 1100px) {
    flex-direction: column;
  }
  @include r($sm) {
    gap: 20px;
  }
}

.img {
  @include objectCoverBg;
  object-fit: contain;
  height: auto;
  @include r($desktop) {
    width: 420px;
  }
  @media (max-width: 1100px) {
    margin: 0 auto;
    width: 600px;
  }
  @include r($lg) {
    width: 520px;
  }
  @include r($tablet) {
    width: 440px;
  }
  @include r($sm) {
    width: 400px;
  }
  @include r($phone) {
    width: 360px;
  }
}

.content {
  max-width: 650px;
  width: 100%;
  @media (max-width: 1100px) {
    margin: 0 auto;
    text-align: center;
  }
}

.title {
  margin-bottom: 55px;
  @include r($desktop) {
    margin-bottom: 45px;
  }
  @include r($sm) {
    margin-bottom: 25px;
  }
}

.navigation, .control {
  display: flex;
  align-items: center;
}

.navigation {
  gap: 50px;
  @media (max-width: 1100px) {
    justify-content: center;
  }
  @include r($sm) {
    flex-direction: column;
    gap: 20px;
  }
}

.control {
  gap: 5px;
}

.pagination {
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  width: 75px;
  color: $gray700;
  justify-content: center;
  display: flex;
  @include r($sm) {
    display: none;
  }
}

.btn {
  position: relative;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color .4s ease-in-out, box-shadow .4s ease-in-out;
  @include r($sm) {
    display: none;
  }

  &::before {
    @include topLeft50;
    @include pseudo;
    @include bg;
    width: 10px;
    height: 20px;
    background-image: url("/src/assets/images/icons/arrow-swiper.svg");
  }

  &:hover {
    background-color: $white;
    box-shadow: 0 0 10px rgba(74, 74, 74, .1);
  }

  &_prev {
    &::before {
      transform: scaleX(-1) translate(50%, -50%);
    }
  }
}

.empty {
  font-size: 20px;
  padding-left: 3px;
  max-width: 370px;
}