.list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.btn {
  font-size: 16px;
  height: 100%;
  max-width: 170px;
  padding: 12px 40px;
  border: 1px solid $white200;
  line-height: 1.15;
  transition: border .3s, opacity .3s, color .3s;
  border-radius: 3px;

  &_active {
    color: $accent;
    border-color: $accent;
    pointer-events: none;
  }

  &:hover {
    border-color: $accent;
  }

  &:focus {
    border-color: $maroon;
  }

  &:active {
    color: $accent;
  }
}