.top {
  @include flex-between(30);
  align-items: baseline;
  margin-bottom: 42px;
}

.left {
  @include flex-align-center(24);
  align-items: flex-end;

  span {
    font-size: 16px;
    color: $gray500;
    margin-bottom: 4px;
  }
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 310px;
  margin: 80px auto;
  font-size: 16px;

  &_top {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 24px;
    margin-bottom: 12px;
  }
}

.name {
  font-family: $didona;
  font-size: 44px;
  line-height: 1.2;
  font-weight: 400;
}

.counters {
  @include flex-align-center(24);
  font-size: 16px;
  color: $gray500;
}

.list {
  display: grid;
  grid-gap: 45px 30px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 50px;
}

.item {
  position: relative;
}

.link_img {
  position: relative;
  display: flex;
  border-radius: 7px;
  overflow: hidden;
  transition: border .4s, border .4s;
  border: 2px solid transparent;
  margin-bottom: 10px;

  &::before {
    @include pseudo;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(#000, .2);
    transition: opacity .4s;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }

  &:focus {
    border-color: $accent;
  }
}

.img {
  @include objectCoverBg;
  border-radius: 7px;
  transition: transform .3s, border .4s;
}

.name_product {
  font-size: 14px;
  margin-bottom: 8px;
  display: flex;
  max-width: max-content;
  transition: color .4s, outline-color .4s;
  border-radius: 4px;
  outline: 2px solid transparent;

  &:hover {
    color: $accent;
  }

  &:focus {
    outline-color: $pink300;
    color: inherit;
  }
}

.delivery {
  @include flex-column(5);
  font-size: 14px;
  color: $gray500;
}

.time {
  font-size: 12px;
}

.price {
  display: flex;
  font-weight: 700;
  margin-top: 10px;
}

.select {
  cursor: pointer;
  @include flex-center;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  padding: 12px 32px 12px 18px;
  background: rgba(234, 237, 236, .5);
  border: 1px solid rgba(234, 237, 236, .9);
  border-radius: 8px;
  transition: background-color .4s, color .4s;

  &:hover {
    color: $white;
    background-color: $pink300;
    border-color: $pink300;
  }
}