.category {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 100px;
  }
}

.top {
  @include flex-between(30);
  align-items: flex-end;
  margin-bottom: 42px;
}

.name {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 500;
}

.counters {
  @include flex-align-center(24);
  font-size: 16px;
  color: $gray500;
}

.left {
  @include flex-align-center(24);
  align-items: flex-end;

  span {
    font-size: 16px;
    color: $gray500;
    margin-bottom: 4px;
  }
}

.more {
  @include flex-center;
  gap: 15px;
  position: relative;
  transform: translateY(42%);
  flex-direction: column;
  height: 100%;
  font-size: 20px;
  font-weight: 500;

  &:hover {
    .circle {
      background-color: #fcc6d0;
    }
  }
}

.circle {
  @include flex-center;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #F0DBDE;
  transition: background-color .4s;

  svg {
    height: auto;
    width: 20px;
  }
}

.btn {
  position: absolute;
  z-index: 50;
  right: -75px;
  top: 50%;
  transform: translateY(-80%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: $white;
  box-shadow: 0 0 10px rgba(74, 74, 74, .1);
  transition: background-color .4s ease-in-out, border .4s ease-in-out, opacity .4s, box-shadow .4s ease-in-out;
  @include r($sm) {
    display: none;
  }

  &::before {
    @include topLeft50;
    @include pseudo;
    @include bg;
    width: 10px;
    height: 20px;
    background-image: url("/src/assets/images/icons/arrow-swiper.svg");
  }

  &:hover {
    background-color: $pink100;
  }

  &:focus {
    background-color: transparent;
    border-color: $accent;
  }

  &_prev {
    left: -75px;

    &::before {
      transform: scaleX(-1) translate(50%, -50%);
    }
  }

  &[disabled] {
    opacity: .5;
    pointer-events: none;
  }
}